/* Ensure proper box sizing */
* {
  box-sizing: border-box;
}

/* Set properties for a proper centering */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Header properties */
.header {
  padding: 60px;
  text-align: center;
  background: #4a6e6e;
  color: white;
}

#black-bar {
  height:50px;
  background:black
}

#profile-image {
    width:400px;
    height:260px;
}

ul {
    font-size:large;
}

/* Row container properties */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar column properties */
.sidebar {
  flex: 30%;
  background-color: #87abab;
  padding: 20px;
}

/* Main column properties*/
.maincontent {
  flex: 70%;
  background-color: #d2e0e0;
  padding: 20px;
}

#quote-section {
  background:black;
  padding:15px;
}

#quote-image {
  width:600px;
  height:200px;
}

#quote-text {
  color:white;
  font-size:large
}

/* Footer properties*/
.footer {
  padding: 20px;
  text-align: center;
  background: #4a6e6e;
  color:white;
}
