/* Define varibles for colors */
:root {
  --dark-turquoise: #4a6e6e;
  --light-turquoise: #87abab;
  --very-light-tuquoise: #d2e0e0;
}

/* Ensure proper box sizing */
* {
  box-sizing: border-box;
}

/* Set properties for a proper centering */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Header properties */
.header {
  padding: 60px;
  text-align: center;
  background: var(--dark-turquoise);
  color: white;
}

#header-border {
    border-style: outset;
}

#black-bar {
  padding: 10px;
  background: black;
  color: white;
}

#profile-image {
  width: 400px;
  height: 260px;
}

ul {
  font-size: large;
}

/* Row container properties */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar column properties */
.sidebar {
  flex: 30%;
  background-color: var(--light-turquoise);
  padding: 20px;
}

/* Main column properties*/
.maincontent {
  flex: 70%;
  background-color: var(--very-light-tuquoise);
  padding: 20px;
}

#quote-section {
  background: black;
  padding: 15px;
}

#quote-image {
  width: 600px;
  height: 200px;
}

#quote-text {
  color: white;
  font-size: large
}

#career-image {
  width: 350x;
  height: 225px;
  float: right;
  padding: 20px;
}

#mountain-image {
  width: 650x;
  height: 375px;
  padding: 20px;
}

#section1, #section3 {
    background: white; 
    color: black;
    padding: 20px;
}

#section2 {
  background: black; 
  color: white;
  padding: 20px;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.grid-column {
  flex: 50%;
  padding: 0 4px;
}

.grid-column img {
  margin-top: 8px;
  vertical-align: middle;
}

.grid-image {
  width: 100%;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: var(--dark-turquoise);
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: var(--light-turquoise);
}

/* Footer properties*/
.footer {
  padding: 20px;
  text-align: center;
  background: var(--dark-turquoise);
  color: white;
}

#git-image {
  height: 50px;
  width: 150px
}

#linkedin-image {
  height: 50px;
  width: 230px;
}

#comments-section {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
}

#container {
  padding: 10px;
  font-size: large;
  font-style: italic;
}
